<select name="{{ field_type.getInputName() }}" class="form-control select2" {{ field_type.disabled ? 'disabled' }}>

    {% for value, option in field_type.options %}

        {% if option is iterable %}

            <optgroup label="{{ trans(value) }}">
                {% for innerValue, innerOption in option %}

                    <option value="{{ innerValue }}" {{ innerValue == field_type.value ? 'selected' }}>{{ trans(innerOption) }}</option>

                {% endfor %}
            </optgroup>

        {% else %}

            <option value="{{ value }}" {{ value == field_type.value ? 'selected' }}>{{ trans(option) }}</option>

        {% endif %}

    {% endfor %}

</select>
